@import "../../global.scss";

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0 30px 0;

  

  .headingContainer {
    border: 2px solid #947928;
    padding: 10px 70px;
    align-items: center;

    @include xl{
      font-size: 20px;
    }

    @include sm{
      font-size: 18px;
      padding: 5px 35px;
    }
  }

  .paragraphContainer {
    margin: 15px 0 15px 0;
  }

  .personalPhoto {
    border-radius: 109px 0px 109px 109px;
    height: 100px;
    width: 100px;
    object-fit: cover;

    @include xl{
      height: 90px;
      width: 90px;
    }

    @include sm{
      height: 80px;
      width: 80px;
    }
  }
}
