@import "global.scss";

* {
  margin: 0;
  font-family: "Barlow", sans-serif;
  color: rgb(109, 93, 24);
}

html {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url("./assets/backGroundImage.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 40vw;
  height: 90vh;
  box-shadow: 15px -11px 15px 3px rgba(0, 0, 0, 0.55);

  ::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(129, 127, 127);
    border-radius: 20px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5d5b5b;
  }

  @include xl {
    width: 50vw;
  }

  @include m {
    width: 60vw;
  }

  @include sm {
    width: 90vw;
    height: 80%;
    box-shadow: none;
    ::-webkit-scrollbar {
      display: none;
    }

    position: relative;
  }
}

.BrainhubCarousel__container{
 @include sm{
   height: 90vh;
 }
}
.BrainhubCarousel__arrows {
  @include sm {
    display: none;
  }
}

.BrainhubCarousel__arrows.BrainhubCarousel__arrowRight {
  background-color: cyan;
  position: absolute;
  right: 50px;
}

.BrainhubCarousel__arrows.BrainhubCarousel__arrowLeft {
  background-color: cyan;
  position: absolute;
  left: 50px;
}

.BrainhubCarousel__dots {
  position: absolute;
  bottom: 15px;

  @include sm{
    position: absolute;
    bottom: -25px;
  }
}
